body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    color: #FE9A62;
    color: #FF8501;
    color: #B05600;
    color: #002E2D;
    color: #000;
}

.etusivu {
    font-family: 'PT Sans Narrow', sans-serif;
}

.firstRow {
    text-align: center;
    padding: 20px;
    color: #002E2D;
    height: 90vh;
}

.firstText,
.secondText {
    height: 100%;
    font-size: 150%;
}

.firstText p {
    padding-top: 250px;
    padding-left: 250px;
}

.etusivuKuva {
    border: 3px solid #FE9A62;
    height: 80vh;
    padding: 30px;
    margin-top: 30px;
}


/*Vaihda height autoks ja myös paddingit yms*/

.secondRow {
    height: 750px;
    color: #002E2D;
    text-align: center;
}

.secondImage {
    background-color: #00000010;
    height: 100%;
}

.tokaRiviKuva {
    width: 95%;
    border: 10px solid #FFF;
    margin-top: 135px;
}

.secondText {
    background-color: #002E2D95;
}

.secondText p {
    padding: 250px 100px 0 100px;
    color: #FFF;
}

.thirdRow {
    height: auto;
    text-align: center;
    background-color: #B0560020;
    padding: 40px;
}

.thirdImages {
    border: 20px solid #FFF;
    width: 80%;
}

@media screen and (max-width: 1600px) {
    .firstText p {
        padding-left: 150px;
    }
    .tokaRiviKuva {
        margin-top: 150px;
    }
}

@media screen and (max-width: 1400px) {
    .firstText p {
        padding-left: 50px;
    }
    .secondText p {
        padding-top: 240px;
    }
    .tokaRiviKuva {
        margin-top: 35%;
    }
    .thirdImages {
        border: 10px solid #FFF;
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .secondText p {
        padding: 240px 30px 0 30px;
        font-size: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .firstRow,
    .secondRow {
        height: 500px;
    }
    .firstText p {
        padding-top: 80px;
        font-size: 90%;
    }
    .etusivuKuva {
        height: 40%;
        padding: 15px;
        margin-top: 0;
    }
    .tokaRiviKuva {
        margin-top: 15%;
        border: 10px solid #FFF;
    }
    .secondText p {
        padding: 110px 20px 0 20px;
    }
    .thirdRow {
        padding: 10px;
    }
}

@media screen and (max-width: 992px) {
    .tokaRiviKuva {
        margin-top: 130px;
        border: none;
    }
    .secondText p {
        padding: 160px 10px 0 10px;
        font-size: 90%;
    }
}

@media screen and (max-width: 768px) {
    .firstRow {
        height: 700px;
    }
    .firstText {
        padding: 20px;
        height: 200px;
    }
    .firstText p {
        padding: 0 40px;
    }
    .secondRow {
        height: auto;
    }
    .secondImage {
        height: auto;
        margin: 0;
        background-color: #002E2D95;
    }
    .tokaRiviKuva {
        margin-top: 20px;
        height: auto;
        width: 90%;
        border: 10px solid #FFF;
    }
    .secondText {
        height: auto;
        padding: 20px;
    }
    .secondText p {
        padding: 30px 10px;
        font-size: 80%;
    }
    .col-md-4 {
        padding: 5px;
    }
}

@media screen and (max-width: 500px) {
    .firstRow {
        height: 800px;
    }
    .etusivuKuva {
        margin: 0;
        margin-top: 40px;
    }
}

@media screen and (max-width: 420px) {
    .firstRow {
        height: 650px;
    }
    .firstText {
        padding: 0;
        height: 150px;
    }
    .firstText p {
        padding: 0;
    }
    .etusivuKuva {
        /* margin-top: 170px;*/
        height: auto;
        width: 85%;
    }
}