/*.koulutusKuva {
    background: url('/src/images/blackwhiteop.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    height: 50vh;
}*/