body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    color: #FE9A62;
    color: #FF8501;
    color: #B05600;
    color: #002E2D;
    color: #000;
}

.yhteydenotto {
    height: 100vh;
    background-color: #002E2D10;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 40px;
    font-size: 250%;
    color: #002E2D90;
    width: 90%;
    border-bottom: 1px solid white;
    margin: auto;
}

.yhteystiedot {
    width: 350px;
    margin: auto;
    margin-top: 60px;
    color: #002E2D95;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.some {
    width: 140px;
    margin: 10px auto;
    text-align: center;
}

.ig,
.fb {
    width: 40px;
    margin: 20px 10px;
}

.instagram,
.facebook {
    float: left;
    width: 50%;
}

.some:after {
    content: "";
    display: table;
    clear: both;
}

.lomake {
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
}

Form {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}